.graph-container {
        display: flex;
        flex-direction: column; 
        background-color: white;
        width: 800px;
        align-items: end;
        padding: 2px;
}

.graph-area {
    display: flex;
    background-color: white;
    height: 400px;
    width: 800px;
    align-items: end;
  }

.bar {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color: #8888ff;
    color: black;
    font-size: 14px;
    border-bottom: none;

    margin: 0px 1px 0px 1px;
    border-radius: 4px 4px 0px 0px;
    align-self: flex-end;
    vertical-align: baseline;
}

.bar-number-at-bottom {
    justify-content: center;
    font-size: 14px;
     display: flex;
    flex-direction: row; 
    color: black;
    margin: 0px 1px 0px 1px;
}

@media (max-width: 768px) {

    .graph-container {
        display: flex;
        flex-direction: column; 
        background-color: white;
        max-width: 99vw;
        align-items: end;
        padding: 2px;
}
.graph-area {
    display: flex;
    background-color: white;
    height: 400px;
    width: 99vw;
    align-items: end;
  }
    
  
  
  }