.network-container {
    margin: auto;
    text-align: center;
    border: none;
    padding: 6px;
    font-family: "Roboto";
    font-size: 20px;
    background-color: #282c34;
    color: #fff;
    cursor: auto;
    margin: 10px;
    max-width: 350px;
    box-shadow: black 1px 1px 15px;
    border-radius: 8px;
    transition: 300ms;
}



.redirect {
    text-align: left;
    margin: auto;
    border: none;
    padding: none;
    font-family: "Roboto";
    font-size: 14px;
    text-wrap: nowrap;
    background-color: #282c34;
    color: #61dafb;
    cursor: pointer;
    text-decoration: none;
    margin: 8px;
    max-width: 350px;
    border-radius: 8px;
    transition: 300ms;
}

.redirect:hover {
    text-align: left;
    margin: auto;
    border: none;
    font-family: "Roboto";
    font-size: 14px;
    text-wrap: nowrap;
    background-color: #282c34;
    color: #61dafb;
    cursor: pointer;
    text-decoration: none;
    margin: 8px;
    margin-left: 12px;
    margin-right: 4px;
    max-width: 350px;
    border-radius: 8px;
    transition: 300ms;
}

.not-allowed {
    text-align: left;
    margin: auto;
    border: none;
    font-family: "Roboto";
    font-size: 14px;
    text-wrap: nowrap;
    text-decoration: none;
    margin: 8px;
    margin-left: 12px;
    margin-right: 4px;
    max-width: 350px;
    border-radius: 8px;
    transition: 300ms;
    cursor: not-allowed;
    color: darkgray;
    /* background-color: gray; */
}
