.modal-container{
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100vh;
    transition: 1000ms;
    background-color: #ededed;
}

.modal-open {
    width: 25vw;
    transition: 1000ms;
    color: black;
    
}

.modal-closed {
    transition: 1000ms;
    display: none;
}

.modal-toggle-button {
    background-color: #ededed;
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-top: 200px;
    height: 40px;
}

.instructions-text {
    color: black;
    font-size: 16px;
    padding: 10px;
}

.instructions-title {
    font-size: 30px;
    align-self: center;
    text-align: center;

}

.instructions-list-item {
    margin: 10px;
}

.instructions-button {
    display: inline;
    margin: 2px;
    border: none;
    padding: 5px;
    font-family: "Roboto";
    font-size: 12px;
    background-color: #282c34;
    color: #61dafb;
    border-radius: 6px;
    transition: 300ms;
  }

  .instructions-button-disabled {

    display: inline;
    margin: 2px;
    border: none;
    padding: 5px;
    font-family: "Roboto";
    font-size: 12px;
    border-radius: 6px;
    transition: 300ms;
    color: #282c34;
    background-color: gray;
  }

@media (max-width: 768px) {
    .modal-open {
        width: 75vw;
        transition: 1000ms;
        color: black;
        
    }
    .instructions-text {
        color: black;
        font-size: 16px;
        padding: 0px;
    }
    .instructions-list-item {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

  }
