.page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  overflow-x: auto;
}

.details-container {
  display: grid;
  align-items: start;
  vertical-align: top;
  justify-content: center;
}

.graph-on-screen {
  text-align: center;
  margin: auto;
}



.choose-array-size {
  text-align: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.small-text {
  font-size: 15px;
}

.array-length-input {
  margin: auto;
  border: none;
  padding: 15px;
  font-family: "Roboto";
  font-size: 20px;
  color: #282c34;
  cursor: pointer;
  margin: 10px;
  max-width: 350px;
  box-shadow: black 1px 1px 15px;
  border-radius: 8px;
  transition: 300ms;
}

.array-length-input::-webkit-outer-spin-button,
.array-length-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
  margin: auto;
  border: none;
  padding: 15px;
  font-family: "Roboto";
  font-size: 20px;
  background-color: #282c34;
  color: #61dafb;
  cursor: pointer;
  margin: 10px;
  max-width: 350px;
  box-shadow: black 1px 1px 15px;
  border-radius: 8px;
  transition: 300ms;
}

.input-range {
  text-align: center;
  margin-top: 20px;
  justify-content: space-between;
  vertical-align: top;
}

.input-range__slider {
  max-width: 100%;
  min-width: 90%;
}

.min-max-container{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.button:hover {
  background-color: #61dafb;
  color: #282c34;
}
.button:disabled {
  cursor: not-allowed;
  color: darkgray;
  background-color: gray;
}
.input-range:hover {
  background-color: #282c34;
  color: #61dafb;
  margin-top: 20px;
  justify-content: space-between;
  vertical-align: top;
}

@media (max-width: 768px) {
  .page-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .graph-on-screen h1 {
    text-align: center;
    margin: 0px;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.App-link {
  color: #61dafb;
}